/* -------------------------------- 

xBasic style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $primary-font;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

input, textarea, select {
	font-family: $primary-font;
	font-size: 1.6rem;
}

.extra1, .extra2, .extra3, .extra4, .extra5, .extra6 {
	display: none;
}


/* ###################  GROUP 2 STYLES  ##################### */

.summary {  /* DIV */
	max-height: 400px;
    width: 100%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
}

.preamble {  /* DIV */
	max-height: 400px;
    width: 100%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
    padding-left: 50px;
}
.supporting {  /* DIV */
	
}
.explanation {  /* DIV */
	max-height: 600px;
    width: 80%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
}
.participation {  /* DIV */
	max-height: 800px;
    width: 90%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
}
.benefits {  /* DIV */
	max-height: 600px;
    width: 70%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
}
.requirements {  /* DIV */
	max-height: 600px;
    width: 80%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
}
footer {  
    background-color: $color-1;
    padding: 15px;
    width: 200px;
    height: 50px;
}
.sidebar h3 {  /* ASIDE */
    height: 50px;
    width: 150px;
    position: absolute;
    font-size: 1.5em;
    padding: 5px;
}
.wrapper {  /* DIV */

}
.design-selection {  /* DIV */

}
.select, .archives, .resources {  /* H3 */

}
.design-archives {  /* DIV */

}

.next, .viewall, .view-css, .css-resources, .zen-faq, .zen-submit, .zen-translations {  /* LI */

}
.zen-resources {  /* DIV */

}


