/* -------------------------------- 

xBasic style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $primary-font;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

input, textarea, select {
	font-family: $primary-font;
	font-size: 1.6rem;
}

.extra1, .extra2, .extra3, .extra4, .extra5, .extra6 {
	display: none;
}


/* ###################  GROUP 2 STYLES  ##################### */

.page-wrapper {  /* DIV */
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 3fr;
    
    .intro {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    }

    .main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    }

    .sidebar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    }
}


.intro {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    
    header {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
    }

    div:first-of-type{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 10;
    }

    div:last-of-type {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 17;
    }
}

.main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;

    .explanation {
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 10;
    }

    .participation {
    grid-column-start: 15;
    grid-column-end: 21;
    grid-row-start: 5;
    grid-row-end: 17;
    }

    .benefits {
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 16;
    }

    .requirements {
    grid-column-start: 7;
    grid-column-end: 20;
    grid-row-start: 17;
    grid-row-end: 28;
    }

    footer {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 22;
    grid-row-end: 24;
    }
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    
    .design-selection {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .design-archives {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:5;
        grid-row-end: 9;
    }
    .resources {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:10;
        grid-row-end: 13;
    }
    
}

.summary {  /* DIV */
	max-height: 400px;
    width: 100%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
}

.preamble {  /* DIV */
	max-height: 400px;
    width: 100%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
    padding-left: 50px;
}
.supporting {  /* DIV */
	
}
.explanation {  /* DIV */
	max-height: 600px;
    width: 100%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
}
.participation {  /* DIV */
	max-height: 800px;
    width: 100%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
}
.benefits {  /* DIV */
	max-height: 600px;
    width: 100%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
}
.requirements {  /* DIV */
	max-height: 600px;
    width: 100%;
	overflow: auto;
    padding:10px;
    background-color: $color-3;
    margin: 20px;
}
footer {  
    background-color: $color-1;
    padding: 15px;
}
.sidebar h3 {  /* ASIDE */
    height: 50px;
    width: 150px;
    position: absolute;
    font-size: 1.5em;
    padding: 5px;
}
.wrapper {  /* DIV */

}
.design-selection {  /* DIV */

}
.select, .archives, .resources {  /* H3 */

}
.design-archives {  /* DIV */

}

.next, .viewall, .view-css, .css-resources, .zen-faq, .zen-submit, .zen-translations {  /* LI */

}
.zen-resources {  /* DIV */

}


