$color-1: #fff379; // Yellow for post-it notes
$color-2: #302023; // Dark Brown for Typography
$color-3: #ffffff; // White for paper
$color-4: #f81415; // Red for pins and accents
$color-5: #230306; // Darker Brown for Shadows