$color-1: #fff379; // Yellow for post-it notes
$color-2: #302023; // Dark Brown for Typography
$color-3: #ffffff; // White for paper
$color-4: #f81415; // Red for pins and accents
$color-5: #230306; // Darker Brown for Shadows
$color-6: #c5894a; // Normal Links
$color-7: #7c4c32; // Hover Links
$color-8: #b9aa0c; // Active Links