*[role="article"] {
    background-image: url(assets/redpin.png);
    background-image: url(assets/redsvgpin.svg);
    background-repeat: no-repeat;
    background-size: auto 50%;
}
/* note: the SVG works fine in Firefox, but not in Chrome, not sure why... */
